[package]
name = "xrpl_binary_codec"
description = "Binary serialization for XRPL Protocol objects"
version = "0.3"
license = "MIT OR Apache-2.0"
repository = "https://github.com/gmosx/xrpl_sdk_rust/tree/main/xrpl_binary_codec"
keywords = ["xrpl", "ledger", "api", "protocol"]
authors = ["George Moschovitis <gmosx@reizu.org>"]
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"]}
serde_json = "1"
hex = "0.4"
bs58 = "0.4"
sha2 = "0.9"
libsecp256k1 = "0.5"
xrpl_types = { path = "../xrpl_types", version = "0.3" }