[package]
name = "xrpl_binary_codec"
description = "Binary serialization for XRPL Protocol objects"
version = "0.15.0"
license = "Apache-2.0"
repository = "https://github.com/gmosx/xrpl-sdk-rust/tree/main/xrpl_binary_codec"
keywords = ["xrpl", "ledger", "api", "protocol"]
authors = ["Georgios Moschovitis <george.moschovitis@gmail.com>"]
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
hex = "0.4"
bs58 = {version = "0.5.0", features = ["check"]}
sha2 = "0.10.7"
libsecp256k1 = "0.7.1"
xrpl_types = { path = "../xrpl_types", version = "0.15" }
thiserror = "1.0.44"
ascii = "1.1.0"
enumflags2 = { version = "0.7.7" }

[dev-dependencies]
assert_matches = "1.5.0"