[package]
name = "xrpl_types"
description = "Core types and related functions for the XRP Ledger"
version = "0.10.0"
license = "Apache-2.0"
repository = "https://github.com/gmosx/xrpl_sdk_rust/tree/main/xrpl_types"
keywords = ["xrpl", "ledger", "api"]
authors = ["George Moschovitis <gmosx@reizu.org>"]
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
assert_matches = "1.5.0"
